@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,200;1,400;1,700&family=Concert+One&family=Inter:wght@400;700&family=Montserrat+Alternates:ital,wght@0,700;1,300&display=swap");

/***REINICIAR ESTILOS***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
